﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="sample.aspx.vb" Inherits="sample" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server" >
        <div>
            <asp:Button ID="Button1" OnClick="Button1_Click" runat="server" Text="Button" />


    </div>
    </form>
    

</body>
</html>
