﻿<%@ Page Title="" Language="VB" MasterPageFile="~/Private/MasterPage.master" AutoEventWireup="false" CodeFile="payment_failure.aspx.vb" Inherits="Private_payment_failure" %>

<asp:Content ID="Content1" ContentPlaceHolderID="body" Runat="Server">
</asp:Content>

