﻿<%@ Page Title="" Language="VB" MasterPageFile="~/Private/MasterPage.master" AutoEventWireup="false" CodeFile="Payment_successful.aspx.vb" Inherits="Private_Payment_successful" %>

<asp:Content ID="Content1" ContentPlaceHolderID="body" Runat="Server">
</asp:Content>

