﻿<%@ Page Title="" Language="VB" MasterPageFile="~/Private/Admin/Admin.master" AutoEventWireup="false" CodeFile="Dashboard.aspx.vb" Inherits="Private_Admin_Dashboard" %>
<%@ Register Assembly="DevExpress.Dashboard.v15.2.Web, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.DashboardWeb" TagPrefix="dx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="body" Runat="Server">

    <dx:ASPxDashboardViewer ID="ASPxDashboardViewer2" runat="server" DashboardSource="~/controls/btcex.xml" Height="600px" Width="100%"></dx:ASPxDashboardViewer>
</asp:Content>

