﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="announcement.ascx.vb" Inherits="controls_announcement" %>
<div class="popover margin10 marker-on-bottom bg-gray">
                            <span runat="server" id="announce" class="fg-white text-secondary text-bold"></span>
                        </div>