﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="Calculator.ascx.vb" Inherits="controls_Calculator" %>
  <br>
            <div class="input-control text success full-size" data-role="input">
                <label class="text-bold fg-dark" for="user_login">Bitcoin Amount:</label>
                 <span data-role="hint"
        data-hint-background="bg-red"
        data-hint-color="fg-white"
        data-hint-mode="2"
        data-hint="Bitcoin Amount">                <asp:TextBox onkeypress="MultiplyByHidden()" onchange="MultiplyByHidden()" onkeyup="MultiplyByHidden()" CssClass="text-bold block-shadow" ID="txtBitcoin" Text="1" runat="server"></asp:TextBox>
 </span>
                <%--<input type="text" name="user_login" id="user_login" style="padding-right: 43px;">--%>
                <button class="button helper-button clear" tabindex="-1" type="button"><span class="mif-cross"></span></button>
            </div>
<br />
<br />
            <div class="input-control text success full-size" data-role="input">
                <label class="text-bold fg-dark" for="user_login">Naira Amount:</label>
                  <span data-role="hint"
        data-hint-background="bg-red"
        data-hint-color="fg-white"
        data-hint-mode="2"
        data-hint="Naira Amount">  <asp:TextBox onkeypress="MultiplyByHidden2()" onchange="MultiplyByHidden2()" onkeyup="MultiplyByHidden2()" Text="0" CssClass="text-bold block-shadow" ID="txtnaira" runat="server"></asp:TextBox>
</span>
             <%--   <input type="password" name="user_password" id="user_password" style="padding-right: 43px;">--%>
                <button class="button helper-button reveal" tabindex="-1" type="button"><span class="mif-looks"></span></button>
            </div>
<%--                      <asp:Button ID="btngetprice" Visible="true" Height="28px" OnClick="btngetprice_Click" CssClass="button small-button mini-button bg-darkOrange text-small fg-white" runat="server" Text="Get Price" Font-Bold="True" Font-Size="Small" />      --%>
<asp:Label ID="lbltodaybtc" Visible="false" runat="server" Text=""></asp:Label>
       <asp:Label ID="Labelbuyprice" Style="display:none;" runat="server" Text=""></asp:Label>
                               <br />
                                 <br />
                               
                             

<script type="text/javascript">
    function fun_AllowOnlyAmountAndDot(txt) {
        if (event.keyCode > 47 && event.keyCode < 58 || event.keyCode == 46) {
            var txtbx = document.getElementById(txt);
            var amount = document.getElementById(txt).value;
            var present = 0;
            var count = 0;

            if (amount.indexOf(".", present) || amount.indexOf(".", present + 1));
            {
                // alert('0');
            }

            /*if(amount.length==2)
            {
              if(event.keyCode != 46)
              return false;
            }*/
            do {
                present = amount.indexOf(".", present);
                if (present != -1) {
                    count++;
                    present++;
                }
            }
            while (present != -1);
            if (present == -1 && amount.length == 0 && event.keyCode == 46) {
                event.keyCode = 0;
                //alert("Wrong position of decimal point not  allowed !!");
                return false;
            }

            if (count >= 1 && event.keyCode == 46) {

                event.keyCode = 0;
                //alert("Only one decimal point is allowed !!");
                return false;
            }


            return true;
        }
        else {
            event.keyCode = 0;
            //alert("Only Numbers with dot allowed !!");
            return false;
        }

    }

    </script>

<script type="text/javascript">
    function MultiplyByHidden() {
      
                        var value1 = parseFloat(document.getElementById("<%=txtBitcoin.ClientID%>").value)
                        var value2 = parseFloat(document.getElementById("<%=Labelbuyprice.ClientID%>").innerText)
                        var total = value1 * value2
                        document.getElementById("<%=txtnaira.ClientID%>").value = total.toFixed(2)
                     
            }
</script>
<script type="text/javascript">
    function MultiplyByHidden2() {

        var value1 = parseFloat(document.getElementById("<%=txtnaira.ClientID%>").value)
        var value2 = parseFloat(document.getElementById("<%=Labelbuyprice.ClientID%>").innerText)
        var total = value1 / value2
        document.getElementById("<%=txtBitcoin.ClientID%>").value = total.toFixed(4)

                    }
</script>