﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="footer.ascx.vb" Inherits="controls_footer" %>
<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-12 center">
							<p>2017 © <span class="text-color-light">BtcEx </span> - Copyright All Rights Reserved</p>
						</div>
					</div>
				</div>
			</footer>